<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204130088047-p9ucjrf90qa5qs3ajjqojo2vj4kosnfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204130088047-p9ucjrf90qa5qs3ajjqojo2vj4kosnfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCDMH7ygUaYMM4emgbzm1WECj4xhDBK8VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>204130088047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royalcyber.sacc.sit</string>
	<key>PROJECT_ID</key>
	<string>sacc-733ab</string>
	<key>STORAGE_BUCKET</key>
	<string>sacc-733ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204130088047:ios:68f912b5b0fb038ab8899a</string>
</dict>
</plist>